*{
    background-color: rgb(123, 206, 120);
    margin:0;
    padding:0;
}

body { 
    font-family:'Times New Roman', Times, serif;
    margin: 20px 20% 20px 20% ;
}

.idei0 {
    color:rgb(105, 92, 92);
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 900;
    letter-spacing: 3px;
}

.idei1{
    color:blue;
    background-color: rgb(20, 143, 165);
    float:right;
}

.idei2 {
    background-color: rgb(179, 30, 30);
    width:25%;
    float:left;
    
}

.idei3 {
    background-color: rgb(11, 112, 25);
    float:left;
}

.img1, .img2, .img3 {
    border-radius:15%;
    width:100px;
    height:100px;
    box-shadow: 50px 50px 50px rgba (0,0,0, 0.25);

} 

.for_img {
    background-color: rgb(193, 196, 14);
    float:left;
}

.for_elem {
    font-size:20px;
    color :red;
}

.for_terror {
    margin:0;
    color:rgb(6, 155, 6);
    background-color:rgb(32, 4, 68);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.for_pudge {
    margin:0;
    color:rgb(170, 17, 6);
    background-color: rgb(75, 41, 2);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.for_slark {
    margin:0;
    color:rgb(185, 14, 51);
    background-color: rgb(28, 39, 192);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
}